<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @plays.each_with_index do |play, i| %>
    <div class="col">
    <div class="card h-100">
      <% if i % 2 == 0 %>
        <%= image_tag("images2.png", alt: play[1], class: "card-img-top") %>
      <% else %>
        <%= image_tag("images.png", alt: play[1], class: "card-img-top") %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= link_to play[1], play_path(i), class: "link-dark" %></small>
      </div>
    </div>
    </div>
  <% end %>
</div>